@import '../../style/var';
@import 'react-nice-dates/src/style.scss';

$nice-dates-color-gray-dark: $dark-blue;
$nice-dates-color-gray: $dark-blue;
$nice-dates-color-gray-light: #ddd;
$nice-dates-color-accent: $light-blue;
$nice-dates-font-size-small: 0.8rem;
$nice-dates-font-size-base: 0.95rem;
$nice-dates-font-size-big: 1.1rem;
$mood-scale: 0.85;
$mood-opacity: 0.8;
$marked-opacity: 0.8;
$marked-scale: 0.85;

.nice-dates-day::before {
  background-color: $light-blue;
}

.nice-dates-day.-selected::before {
  border: 5px solid $dark-blue;
  opacity: 0.85;
}

.nice-dates-day.-horrible-mood::before {
  background-color: $horrible-mood;
  opacity: $mood-opacity;
  transform: scale($mood-scale);
}
.nice-dates-day.-horrible-mood,
.nice-dates-day.-horrible-mood > .nice-dates-day_month {
  color: #1a1d31;
}

.nice-dates-day.-bad-mood::before {
  background-color: $bad-mood;
  opacity: $mood-opacity;
  transform: scale($mood-scale);
}

.nice-dates-day.-okay-mood::before {
  background-color: $okay-mood;
  opacity: $mood-opacity;
  transform: scale($mood-scale);
}

.nice-dates-day.-okay-mood,
.nice-dates-day.-okay-mood > .nice-dates-day_month {
  color: #fff;
}

.nice-dates-day.-good-mood::before {
  background-color: $good-mood;
  opacity: $mood-opacity;
  transform: scale($mood-scale);
}

.nice-dates-day.-super-mood::before {
  background-color: $super-mood;
  opacity: $mood-opacity;
  transform: scale($mood-scale);
}

.nice-dates-day.-super-mood > .nice-dates-day_month,
.nice-dates-day.-super-mood.-outside > .nice-dates-day_date {
  color: #ddd;
}

.nice-dates-day.-marked::before {
  background-color: #99e1d0;
  opacity: $marked-opacity;
  transform: scale($marked-scale);
}
